

.container{
background-color: #0f2337;
}

.headerWidth{
width: 100%

}


.logo
{width: 90px;
height: 90px;
margin-top: 10px;
position: absolute;
top: 8%;
left: 6%;
transform: translate(-50%, -50%);
}

/* nav starts */
.navItem {
  padding-right: 15px;
}

nav.top-bar.topbar-responsive{
	background-color: #0f2337;
  margin-top: 15px;
  margin-bottom: 7px;
}

.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background-color: inherit;
}

ul.menu.simple.vertical.medium-horizontal{

 font-size: 30px;
 font-weight: lighter;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #808080;
  outline:none;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
    z-index: 100;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
  .header{
    display: none;
  }
  .logo{
display: none;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 50%;
      margin-left: 100px;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }
}
/* nav ends */

/*website text starts */

.eddyText {
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #28598c;
  font-weight: bolder;
  font-size: 70px;
}

.officialText {
  position: absolute;
  top: 100%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #b0c4b4;
  font-weight: lighter;
  font-size: 70px;
}

@media screen and (max-width: 39.9375em) {
.eddyText {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #28598c;
  font-weight: bolder;
  font-size: 30px;
}
.officialText {
  position: absolute;
  top: 34%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #b0c4b4;
  font-weight: lighter;
  font-size: 30px;
}
}

@media (min-width: 500px) and (max-width: 1024px) {
.eddyText {
  position: absolute;
  top: 60%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: #28598c;
  font-weight: bolder;
  font-size: 70px;
}
.officialText {
  position: absolute;
  top: 69%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: #b0c4b4;
  font-weight: lighter;
  font-size: 70px;
  z-index: 0;
}
.logo{
  position: absolute;
  top: 6%;
  left: 6%;
  height: 60px;
  width: 60px;
}
}
/*website official site text ends*/
/*video starts*/
.videoPlayer {
  width: 95%;
}

.videoControl {
  margin-left: 25%;
}
/*video ends*/
/* stats start*/
.statname{
  color: #eeeee0;
  font-size: 40px;
  font-weight: lighter;
  margin-left: 100px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  pointer-events: none;
  border: solid 1px #28598c;
  border-width: thin;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}

.stat{
  color: #b0c4b4;
  font-size: 90px;
  margin-left: 180px;
  padding: 5px;
  display: inline;
  pointer-events: none;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}
/*spacer*/
.spacer{
  height: 50px;
}
/*spacer*/
/* store area starts*/
.store{
  display: inline;
  margin-left: 15px;
  margin-top: 10px;
}

.store:hover {
      opacity: 0.5;
      filter: alpha(opacity=50);
}
button.hollow.button{
  margin-top: 30px;
  margin-left: 500px;
  font-size: 20px;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
}
.shopText{
  display: inline;
  margin-left: 180px;
  margin-top:40px;
font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 29px;
}
/*store ends here*/
/* campaign starts here*/
.overFlow{
  overflow: hidden;
}
.eddyFan{
  float: right;
  clear: both;
  overflow: hidden;
  margin-right: 40px;
  margin-top: 50px;
}
.campaign{
  color: #FFFFFF;
  text-decoration: underline;
  font-size: 30px;
font-family: 'Quicksand', sans-serif;
  text-align:left;
  float: left;
  margin-left: 90px;


}
.campaignText{
  color: #FFFFFF;
  font-size: 30px;
font-family: 'Quicksand', sans-serif;
  text-align:left;
  float: right;
  margin-right: 60px;
}
/*campaign ends here*/
/*gallery starts here*/
.galleryText{
  font-family: 'Montserrat', sans-serif;
	color: #b0c4b4;
	font-size: 100px;
  margin-left: 480px;
}

.thumb{
		width: 250px;
		height: 160px;
margin-bottom: 20px;
		margin-left: 100px;
    border: 1px solid #b0c4b4;
}

#lightbox {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#lightboxImg {
  margin: 0 auto;
}
/*gallery end here*/
/*back to top button is here*/
.arrowUp{
 float:right;
 margin-right: 40px;
}
/* newsletter starts here*/
form {
font-family: 'Quicksand', sans-serif;
}

.container1 {
    padding: 20px;
    background-color: #314a78;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.subscribe{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
/*newsletter ends here*/
/*socials here*/

.sticky-social-bar {
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11.25rem;
  background-color: #333333;
  position: fixed;
  left: -8.75rem;
  z-index: 3;
}

.sticky-social-bar .social-icon {
  list-style-type: none;
  color: #fefefe;
  background-color: inherit;
  margin: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.25rem 0.25rem 0.5rem;
}

.sticky-social-bar .social-icon:first-of-type {
  padding-top: 0.375rem;
}

.sticky-social-bar .social-icon:last-of-type {
  padding-bottom: 0.625rem;
}

.sticky-social-bar .social-icon > a {
  color: inherit;
  background-color: inherit;
}

.sticky-social-bar .social-icon > a > .fa {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  float: right;
  margin-left: 0.5rem;
}

.sticky-social-bar .social-icon > a > .fa.fa-facebook {
  background-color: #3b5998;
}

.sticky-social-bar .social-icon > a > .fa.fa-twitter {
  background-color: #55acee;
}

.sticky-social-bar .social-icon > a > .fa.fa-linkedin {
  background-color: #007bb5;
}

.sticky-social-bar .social-icon > a > .fa.fa-youtube {
  background-color: #bb0000;
}

.sticky-social-bar .social-icon > a > .fa.fa-instagram {
  background-color: #125688;
}

.sticky-social-bar .social-icon > a > .fa.fa-pinterest-p {
  background-color: #cb2027;
}

.sticky-social-bar .social-icon > a > .social-icon-text {
  font-size: 80%;
  color: #fefefe;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.sticky-social-bar .social-icon:hover {
  -webkit-transform: translateX(8.75rem);
      -ms-transform: translateX(8.75rem);
          transform: translateX(8.75rem);
}

.sticky-social-bar .social-icon:hover > a {
  color: inherit;
  background-color: inherit;
}

/*socials end here*/
/*media query for rest of site begins here*/
@media screen and (max-width: 39.9375em) {
  .statname{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    pointer-events: none;
    border: solid 1px #28598c;
    border-width: thin;

  }
  .stat{
    color: #b0c4b4;
    font-size: 10px;
    margin-left: 13px;
    padding: 5px;
    display: inline;
    pointer-events: none;
    font-weight: bold;

  }
  .store{
    margin-left: 10px;
  }
  .campaignText{
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.campaign{
  margin-left: 120px;
}
.eddyFan{
  float: none;
  margin-left: 40px;
}
.shopText{
  display: none;
}

.eddyText{
  margin-left: 100px;
  top: 39%
}
.officialText{
  margin-left:100px;
  top: 43%
}
.store{
  margin-left: 20px;
}
button.hollow.button{
  margin-top: 30px;
  margin-left: 105px;
  font-size: 20px;
  padding-top: 10px;
  width: 200px;
  height: 40px;
font-family: 'Quicksand', sans-serif;
}
.galleryText{
  margin-left: 120px;
  font-size: 50px;
}
.thumb{
  margin-left: 70px;
}

.subscribe{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
}

@media (min-width: 500px) and (max-width: 1024px) {
  .statname{
    font-size: 40px;
    font-weight: lighter;
    margin-left: 60px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    pointer-events: none;
    border: solid 1px #28598c;
    border-width: thin;
  }
  .stat{
    color: #b0c4b4;
    font-size: 40px;
    margin-left: 130px;
    padding: 5px;
    display: inline;
    pointer-events: none;
    font-weight: bold;
  }
  .store{
    margin-left: 70px;
  }
  .storephoto3{
    display: none;
  }

  .campaignText{
    color: #FFFFFF;
    font-size: 20px;
  font-family: 'Quicksand', sans-serif;
    text-align:left;
    margin-right: 60px;
}
button.hollow.button{
  margin-top: 30px;
  margin-left: 300px;
  font-size: 20px;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
}
.galleryText{
  margin-left: 340px;
}
.thumb{
  margin-left: 190px;
}
.shopText{
  display: none;
}
button.hollow.button{
  margin-left: 400px;
}

#image{
  width: 700px;
  height: 450px;
}
.container1 {
    padding: 20px;
    background-color: #314a78;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.subscribe{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
}
/*media queries end here*/
